.title {
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin-top: 50px;
}

.term {
  border: solid 5px pink;
  border-radius: 15px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  width: 45%;
  margin: auto;
  margin-top: 100px;
}

.definition {
  border: solid 5px lightblue;
  border-radius: 15px;
  text-align: center;
  font-family: 'Poor Story', cursive;
  width: 45%;
  margin: auto;
  margin-top: 100px;
  display: none;
}

.button {
  text-align: center;
  margin-top: 100px;
}

button {
  color: white;
  background-color: darkgrey;
  padding: 15px;
  border-radius: 15px;
}

button:hover {
  transform: scale(1.1);
}
